.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.card-first {
  background: #0288d1;
  color: white;
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-third {
  color: rgb(52, 71, 103);
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-first h2 {
  font-size: 20px;
  margin: 10px 0;
}

.card-first p {
  font-size: 14px;
  line-height: 1.5;
}

.card-third h2 {
  font-size: 20px;
  margin: 10px 0;
}

.card-third p {
  font-size: 14px;
  line-height: 1.5;
}

.card-third a {
  display: inline-block;
  margin-top: 15px;
  color: rgb(52, 71, 103);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
}

.card-first a {
  display: inline-block;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
}
